
*.prefs
.classpath
src/main/java/com/sacknibbles/sch/avro/model/*
.project
*.class
src/main/java/com/sacknibbles/sch/controller/avro/util/SchemaBuilderUtil.java
src/test/java/com/sacknibbles/sch/dao/impl/package-info.java
src/test/java/com/sacknibbles/sch/payload/util/TestPayloadBuilder.java
/target/
